/*  your css code here. If applicable */
table, td{
	border: 1px solid black;
	/* border-collapse: collapse; */
}
h4{
	text-align: center;
	margin: 0;
}
table{
	width: 100%;
	height: 100%;
}
td{
	padding: 1px;
	border-spacing: 1px;
}
#table-1, #table-2{
	margin-bottom: 40px;
}
#table-2 td{
	margin-bottom: 10px;
	padding: 10px
}
#table-3 td{
	margin-bottom: 10px;
	padding: 10px;
}
#t12{
	text-align: center;
}
#t13{
	text-align: right;
}
